<%= render 'components/drawer', button_text: 'Add Subcategory', title: "Add Subcategory to #{@menu_category.name}" do %>
  <%= form_with url: add_subcategory_restaurant_menu_menu_category_path(@restaurant, @menu, @menu_category), class: 'flex flex-col gap-4 mt-10 w-3/4', method: :post do |f| %>
    <%= f.label :name do %>
      <span>Name</span>
      <span class='text-red-500'>*</span>
    <% end %>
    <%= f.text_field :name, class: "p-2 border border-gray-300 rounded text-sm", placeholder: 'Subcategory Name' %>
    <%= f.submit "Add Subcategory", class: "bg-gray-800 text-white text-sm px-4 py-2 rounded hover:bg-gray-900 cursor-pointer" %>
  <% end %>
<% end %>
