<%= form_with(model: [@restaurant, menu], class: "flex flex-col gap-5 w-3/4 text-sm
text-sm") do |form| %>
  <div>
    <%= form.label :name, class: "block font-medium text-gray-700 flex items-center gap-2" do %>
      Name
      <i class="fa-regular fa-circle-question cursor-pointer" title="Name of menu"
      ></i>
    <% end %>
    <%= form.text_field :name, class: "shadow border border-gray-200 outline-none px-3 py-2 mt-2 w-full text-xs h-12", placeholder: "e.g #{@restaurant&.name} Menu" %>
  </div>
  <div>
    <%= form.label :description, class: "block font-medium text-gray-700" do %>
      Description
      <i class="fa-regular fa-circle-question cursor-pointer" title="Description of menu"
      ></i>
    <% end %>
    <%= form.text_area :description, class: "shadow border border-gray-200 outline-none px-3 py-2 mt-2 w-full text-xs", required: true, placeholder: "e.g. Explore our diverse and delicious menu crafted with passion and attention to quality ingredients.", rows: 10 %>
  </div>
  <%= form.submit "Next", class: "bg-gray-800 text-white font-bold py-2 px-4 rounded cursor-pointer" %>
<% end %>