<%= render 'components/breadcrumb', breadcrumbs: [
  { text: 'Home', path: root_path},
  { text: 'Restaurants', path: restaurant_sub_restaurants_path(@restaurant)}
] %>

<div class='px-3 py-5 flex flex-col gap-4'>
  <div class="flex items-center justify-between gap-5 sm:w-3/4">
    <h4 class='font-semibold mb-5 capitalize my-5'>Restaurants</h4>
    <%= link_to new_restaurant_sub_restaurant_path(@restaurant), class:'btn-primary' do %>
      <i class='fas fa-plus'></i>
      <span>Add Restaurant</span>
    <% end %>
  </div>

  <div class='flex flex-col gap-5 sm:w-3/4 text-sm'>
    <% @sub_restaurants.each do |sub_restaurant| %>
      <div class='flex justify-between items-center bg-gray-100 p-3 bg-white shadow-lg rounded relative'>
        <div class='flex gap-5'>
          <div class='flex items-center gap-5'>
            <% if sub_restaurant.logo.attached? %>
              <%= image_tag sub_restaurant.logo, class: 'w-16 h-16 object-cover' %>
            <% else %>
              <div class='w-16 h-16 bg-gray-200'></div>
            <% end %>
            <div>
              <div class='flex flex-col gap-2'>
              <%= link_to sub_restaurant.name , restaurant_sub_restaurant_path(@restaurant, sub_restaurant),class: 'font-semibold text-sm text-gray-900 capitalize hover:underline' %>
              <% if sub_restaurant.locations.any? %>
                <div class='flex items-center gap-2'>
                  <i class='fas fa-map-marker-alt text-gray-500'></i>
                  <% sub_restaurant.locations.each_with_index do |location, index| %>
                    <span class='text-gray-500 text-xs'><%= location.area %>
                    <%= index < sub_restaurant.locations.size - 1 ? ',' : '' %>
                    </span>
                  <% end %>
                </div>
              <% end %>
              </div>
            </div>
          </div>
        </div>

        <div data-controller="dropdown" class='relative'>
          <button data-action="click->dropdown#toggle" class="flex items-center gap-1 px-4 py-2 w-40">
            <p class='flex items-center gap-2 capitalize'>
              <i class="fas fa-ellipsis-v"></i>
            </p>
          </button>

          <div data-dropdown-target="menu" class="hidden text-xs rounded flex flex-col gap-2 absolute bg-gray-900 text-white top-8 right-0 py-2 w-full z-10">
            <%= link_to  edit_restaurant_sub_restaurant_path(@restaurant, sub_restaurant), class: 'hover:text-blue-500 px-4 py-2 rounded flex items-center' do %>
              <i class='fas fa-pencil-alt' title="edit"></i>
              <span class='ml-2'>Edit</span>
            <% end %>
            <hr class='border border-gray-700'>
            <%= button_to restaurant_sub_restaurant_path(@restaurant, sub_restaurant), method: :delete, data: { confirm: 'Are you sure you want to delete this restaurant?' }, class: 'hover:text-red-500 px-4 py-2 rounded flex items-center' do %>
              <i class='fas fa-trash-alt' title="delete"></i>
              <span class='ml-2'>Delete</span>
            <% end %>
            <hr class='border border-gray-700'>
            <% if sub_restaurant.locations.blank? %>
              <%= link_to new_location_restaurant_sub_restaurant_path(@restaurant, sub_restaurant), class: 'hover:text-green-500 px-4 py-2 rounded flex items-center' do %>
                <i class="fa-solid fa-location-dot" title="add a location"></i>
                <span class='ml-2'>Add Location</span>
              <% end %>
            <% else %>
              <div class='flex flex-col gap-2'>
                <%= link_to locations_restaurant_sub_restaurant_path(@restaurant, sub_restaurant), class: 'hover:text-green-500 px-4 py-2 rounded flex items-center' do %>
                  <i class="fa-solid fa-location-dot" title="view locations"></i>
                  <span class='ml-2'>View Locations</span>
                <% end %>
                <hr class="border border-gray-700">
                <%= link_to new_location_restaurant_sub_restaurant_path(@restaurant, sub_restaurant), class: 'hover:text-green-500 px-4 py-2 rounded flex items-center' do %>
                  <i class="fa-solid fa-location-dot" title="view locations"></i>
                  <span class='ml-2'>Add a Location</span>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>

      </div>
    <% end %>
  </div>
</div>