<div class='flex flex-col justify-center items-center mt-10'>
  <h2 class='text-2xl text-center capitalize font-primary'>Set up your password</h2>

   <%= form_for(resource, as: resource_name, url: user_restaurant_registration_path(restaurant_id: @restaurant.slug), method: :post, html: { class: "flex flex-col gap-10 mt-5" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <%= f.hidden_field :email, value: @restaurant.email %>
    <%= f.hidden_field :first_name, value: @restaurant.name %>
    <%= f.hidden_field :last_name, value: 'Admin' %>
    <%= f.hidden_field :restaurant_id, value: @restaurant.id %>
    <%= f.hidden_field :role, value: 'admin' %>

    <div class="flex flex-col gap-1">
      <div class="flex gap-1">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
      </div>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="flex flex-col gap-1">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Set password", class: "bg-primary text-white py-2 px-4 cursor-pointer font-medium" %>
    </div>
    <% end %>

  <%= render "devise/shared/links" %>

</div>
