<div class='grid grid-cols-1 gap-4'>

  <div class='flex flex-col gap-1'>
    <%= form.label :name, class: "block font-medium text-gray-700 flex items-center gap-2" do %>
      Name
      <span class="text-xs text-red-500">*</span>
    <% end %>
  <%= form.text_field :name, class: "shadow border border-gray-200 outline-none px-3 py-2 mt-2 w-full text-xs h-12", required: true, placeholder: "e.g ceaser salad" %>
  </div>

  <div class='flex flex-col gap-1'>
    <%= form.label :price, class: "block font-medium text-gray-700 flex items-center gap-2" do %>
      Price
      <span class="text-xs text-red-500">*</span>
    <% end %>
    <%= form.number_field :price, class: "shadow border border-gray-200 outline-none px-3 py-2 mt-2 w-full text-xs h-12", required: true, min: 1, step: 1, placeholder: "e.g 100" %>
  </div>

  <div class='flex flex-col gap-1'>
    <%= form.label :calories_info, class: "block font-medium text-gray-700 flex items-center gap-2" do %>
      Calories Info
    <% end %>
    <%= form.text_field :calories_info, class: "shadow border border-gray-200 outline-none px-3 py-2 mt-2 w-full text-xs h-12", placeholder: "e.g. 1400 cal per serving" %>
  </div>

  <div class='flex flex-col gap-1'>
    <%= form.label :description, class: "block font-medium text-gray-700" do %>
      Description
      <span class="text-xs text-red-500">*</span>
    <% end %>
    <%= form.text_area :description, class: "shadow border border-gray-200 outline-none px-3 py-2 mt-2 w-full text-xs",required: true, placeholder: "e.g. Lettuce, tomatoes, ham (beef), sweet corn, yellow cheese, tuna, and boiled egg", rows: 5 %>
  </div>
</div>