<%= form_with(model: [@restaurant, @sub_restaurant, menu, menu_category, menu_item], class: "flex flex-col gap-5 w-3/4 text-sm
text-sm") do |form| %>
  <%= render 'shared/error_messages', object: menu_item %>
  <div class='flex flex-col gap-1'>
    <%= form.label :name, class: "block font-medium text-gray-700 flex items-center gap-2" do %>
      Name
    <% end %>
    <%= form.text_field :name, class: "shadow border border-gray-200 outline-none px-3 py-2 mt-2 w-full text-xs h-12", placeholder: "e.g ceaser salad" %>
  </div>
  <div class='flex flex-col gap-1'>
    <%= form.label :description, class: "block font-medium text-gray-700" do %>
      Description
    <% end %>
    <%= form.text_area :description, class: "shadow border border-gray-200 outline-none px-3 py-2 mt-2 w-full text-xs", placeholder: "e.g. Lettuce, tomatoes, ham (beef), sweet corn, yellow cheese, tuna, and boiled egg", rows: 10 %>
  </div>
  <%= form.submit "Submit", class: "bg-gray-800 text-white font-bold py-2 px-4 rounded cursor-pointer" %>
<% end %>