<%= form_with(model: [@restaurant, @sub_restaurant, menu, menu_category, menu_item], class: 'px-5') do |form| %>

  <%= render 'shared/error_messages', object: menu_item %>

  <div class='grid md:grid-cols-2 gap-10'>
     <%= render 'details', form: form %>
     <%= render 'nutrition', form: form %>
  </div>
  <%= render 'media', form: form %>



  <%= form.submit  'Submit', class: "bg-gray-800 text-white font-semibold py-2 px-4 rounded cursor-pointer mt-7 w-3/4 text-center" %>
<% end %>