<div class="flex flex-col items-center justify-start h-96 sm:w-28 w-16 rounded glass px-2 py-5 absolute">
  <%= image_tag('logo-white.png', alt: "logo", class: "sm:h-8 h-4 sm:w-8 w-4 object-cover") %>
  <p class='text-white text-xs font-semibold mt-1 sm:block hidden'>Menufy</p>

  <ul class='flex flex-col gap-3 mt-6'>
    <li class="py-2 bg-gray-50 text-gray-600 border-l-4 border-gray-600">
      <%= link_to root_path, class: "px-5 flex gap-2 items-center" do %>
        <i class="fa-solid fa-chart-simple"></i>
        <span class="sm:block hidden">Dashboard</span>
      <% end %>
    </li>
    <li class="py-2 hover:bg-gray-50 hover:text-gray-600 hover:border-l-4 hover:border-gray-500">
      <%= link_to new_user_session_path, class: "px-4 flex items-center gap-2" do %>
        <i class="fa-solid fa-utensils"></i>
        <span class="sm:block hidden">Menus</span>
      <% end %>
    </li>
    <li class="py-2 hover:bg-gray-50 hover:text-gray-600 hover:border-l-4 hover:border-gray-500">
      <%= link_to new_user_session_path, class: "px-4 flex items-center gap-2" do %>
        <i class="fa-solid fa-shop"></i>
        <span class="sm:block hidden">Branches</span>
      <% end %>
    </li>
    <li class="py-2 hover:bg-gray-50 hover:text-gray-600 hover:border-l-4 hover:border-gray-500">
      <%= link_to new_user_session_path, class: "px-4 flex items-center gap-2" do %>
        <i class="fa-solid fa-gear"></i>
        <span class="sm:block hidden">Settings</span>
      <% end %>
    </li>
    <li class="py-2 hover:bg-gray-50 hover:text-gray-600 hover:border-l-4 hover:border-gray-500">
      <%= link_to layouts_path, class: "px-4 flex items-center gap-2" do %>
        <i class="fa-solid fa-palette"></i>
        <span class="sm:block hidden">Themes</span>
      <% end %>
    </li>
    <li class="py-2 hover:bg-red-50 hover:text-red-600 hover:border-l-4 hover:border-red-500">
      <%= button_to destroy_user_session_path, method: :delete, class: "px-4 flex items-center gap-2" do %>
        <i class="fa-solid fa-door-open"></i>
        <span class='capitalize font-semibold sm:block hidden'>Logout</span>
      <% end %>
    </li>
  </ul>
</div>