<style>
.glass {
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
</style>

<header class="flex flex-col sm:gap-12 gap-10  sm:overflow-hidden min-h-screen relative"
>
  <div class="grid sm:grid-cols-2 grid-cols-1 gap-8 px-4">

    <div class='flex flex-col gap-3 sm:mt-0 mt-4'>

      <%= render "home/demo_dashboard" %>

      <div class='flex flex-col gap-4 mt-6'>
        <div class="flex gap-2  items-center">
          <a href="#solutions" class="sm:text-4xl text-2xl font-bold text-right hover:underline">simplifying menu management.</a>
          <hr class='w-1/6 border-t-2 border-gray-900'>
        </div>

        <p class="sm:text-sm leading-7 w-110/12">
           Easily manage your restaurant's menu from one place with our simple and intuitive menu management system. Update your menu items, prices, and descriptions in real-time. Let your customers know what's new and what's hot.
           Let strangers know what's good.
        </p>

        <%= link_to "Get Started ->", new_restaurant_path, class: "text-gray-900 font-semibold underline uppercase hover:scale-105" %>
      </div>
    </div>


    <div class="flex flex-col gap-4">
      <div class="flex gap-3 justify-end items-center">
        <hr class='w-1/4 border-t-2 border-gray-900'>
        <a href="/layouts" class="sm:text-2xl text-xl font-semibold text-right hover:underline">themes.</a>
      </div>
      <div class="grid sm:grid-cols-2 grid-cols-1 gap-4 sm:mt-0 mt-16">
        <% Layout.all.order(created_at: :desc).limit(4).each do |layout| %>
          <%= link_to layout_path(layout), class:"flex flex-col items-center p-4 border-b border-gray-200 bg-white rounded shadow gap-5 hover:scale-105 transition duration-500 cursor-pointer" do %>
            <div class='flex flex-col items-center gap-4'>
              <%= image_tag(layout.image, alt: "layout", class: "h-40 w-full object-cover") %>
              <h3 class='font-semibold text-gray-900 uppercase'><%= layout.name %></h3>
              <p class='text-gray-500 text-sm capitalize'><%= layout.description.truncate(50) %>...</p>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="flex gap-3 justify-end items-center">
        <a href="/layouts" class="sm:text-base text-sm font-semibold text-right underline">view more.</a>
      </div>

    </div>

  </div>

</header>