<div class="grid sm:grid-cols-3 grid-cols-1 -mt-6">

  <div class="col-span-2">

    <div class="flex gap-2  items-center mb-5">
      <hr class='w-1/6 border-t-2 border-gray-900'>
      <a href="/restaurants/new" class="sm:text-4xl text-2xl font-bold text-right hover:underline">create your restaurant account.</a>
    </div>

    <%= form_with(model: @restaurant, class: "flex flex-col gap-4 px-10") do |form| %>
      <%= render 'shared/error_messages', object: @restaurant %>
      <div class="my-5 flex flex-col justify-start items-start gap-5">
        <div class='grid sm:grid-cols-2 grid-cols-1 gap-6'>
          <div class="flex flex-col gap-4 mb-4">
            <%= form.label :name, 'Name', class: "block font-medium text-gray-900 text-sm" %>
            <%= form.text_field :name, class: "border-2 border-black bg-transparent outline-none focus:outline-none py-2 px-4 text-black placeholder:text-gray-900 placeholder:text-xs", required: true, placeholder: "e.g. Java House" %>
          </div>
          <div class="flex flex-col gap-4 mb-4">
            <%= form.label :email, 'Email', class: "block font-medium text-gray-900 text-sm" %>
            <%= form.email_field :email, class: "border-2 border-black bg-transparent outline-none focus:outline-none py-2 px-4 text-black placeholder:text-gray-900 placeholder:text-xs", required: true, placeholder: "e.g. info@javahouse.com" %>
          </div>
          <div class="flex flex-col gap-4 mb-4">
            <%= form.label :phone, 'Phone', class: "block font-medium text-gray-900 text-sm" %>
            <%= form.text_field :phone, class: "border-2 border-black bg-transparent outline-none focus:outline-none py-2 px-4 text-black placeholder:text-gray-900 placeholder:text-xs", required: true, placeholder: "e.g 254712345678" %>
          </div>
          <div class="flex flex-col gap-4 mb-4">
            <%= form.label :logo, 'Upload Logo(png, jpg, jpeg)', class: "block font-medium text-gray-900 text-sm" %>
            <%= form.file_field :logo, class: "border-2 border-black bg-transparent outline-none focus:outline-none  file:mr-4 block file:bg-black file:text-white file:outline-none file:border-none file:py-2 file", required: true, accept: "image/*" %>
          </div>
        </div>
        <div class="flex flex-col gap-4 mt-2">
          <%= form.label :restaurant_type, "Which of the following best describes your restaurant?", class: "block font-medium text-gray-900 text-sm" %>
          <div class='flex flex-col text-sm gap-2'>
            <% Restaurant.restaurant_types.keys.map do |type| %>
              <div class="flex items-center gap-2 mt-2">
                <%= form.radio_button :restaurant_type, type %>
                <%= form.label type, type.humanize %>
              </div>
            <% end %>
          </div>
        </div>
        <%= form.submit 'Submit', class: "py-2 mt-4 px-5 bg-black text-center text-white font-medium cursor-pointer rounded w-48" %>
      </div>
    <% end %>
  </div>

  <div class="col-span-1 sm:flex -mt-10 hidden">
    <%= image_tag('menu.jpg', class: "w-full h-full object-cover") %>
  </div>

</div>