<h1 class="text-2xl text-center my-5 font-primary">Create Your Restaurant Account</h1>

<%= form_with(model: @restaurant, class: "sm:w-7/12 mx-auto shadow-lg bg-seasalt px-10 py-5") do |form| %>
  <%= render 'shared/error_messages', object: @restaurant %>
  <div class="my-5 flex flex-col justify-start items-start gap-5">
    <div class='grid sm:grid-cols-2 grid-cols-1 gap-4'>
      <div>
        <%= form.label :name, 'Name', class: "block font-medium text-gray-700 text-sm" %>
        <%= form.text_field :name, class: "shadow border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>
      <div>
        <%= form.label :email, 'Email', class: "block font-medium text-gray-700 text-sm" %>
        <%= form.email_field :email, class: "shadow border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>
      <div>
        <%= form.label :phone, 'Phone', class: "block font-medium text-gray-700 text-sm" %>
        <%= form.text_field :phone, class: "shadow border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>
      <div>
        <%= form.label :logo, 'Logo', class: "block font-medium text-gray-700 text-sm" %>
        <%= form.file_field :logo, class: "shadow border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>
    </div>
    <div class="flex flex-col gap-4 mt-2">
      <%= form.label :restaurant_type, "Which of the following best describes your restaurant?", class: "block font-medium text-gray-700 text-sm" %>
      <div class='flex flex-col'>
        <% Restaurant.restaurant_types.keys.map do |type| %>
          <div class="flex items-center gap-2 mt-2">
            <%= form.radio_button :restaurant_type, type %>
            <%= form.label type, type.humanize %>
          </div>
        <% end %>
      </div>
    </div>
    <%= form.submit 'Submit', class: "py-2 mt-8 px-5 bg-primary text-white inline-block font-medium cursor-pointer flex" %>
  </div>
<% end %>