<ul class='mt-5 flex flex-col gap-3 text-xs'>

  <li data-active-page-target="sidebarItem" data-path="/" class="sidebar-item py-2 hover:bg-gray-50 hover:text-gray-600 hover:border-l-4 hover:border-gray-500">
    <%= link_to root_path, class: "px-4 flex gap-2 items-center" do %>
      <i class="fa-solid fa-chart-simple"></i>
      <span>dashboard</span>
    <% end %>
  </li>

  <li data-controller="dropdown" class='relative'>

    <button data-action="click->dropdown#toggle" class="flex items-center gap-1 px-4 py-2 w-full hover:bg-gray-50 hover:text-gray-600 hover:border-l-4 hover:border-gray-500">
      <p class='flex items-center gap-2 capitalize'>
        <i class="fa-solid fa-utensils"></i>
        <span class=>menus</span>
      </p>
      <i class="fa-solid fa-caret-down"></i>
    </button>

    <ul data-dropdown-target="menu" class="hidden text-white rounded-md mt-3 flex flex-col gap-3">
      <% if @restaurant.menus.present? %>
        <li class='py-2 px-4 hover:bg-gray-50 hover:text-gray-600 hover:border-l-4 hover:border-gray-500 sidebar-item' data-active-page-target="sidebar-item" data-path="menus">
          <%= link_to restaurant_menus_path(@restaurant), class: "px-4 flex items-center gap-2" do %>
            <i class="fa-solid fa-eye"></i>
            View all menus
          <% end %>
        </li>
      <% end %>

      <li class='py-2 px-4 hover:bg-gray-50 hover:text-gray-600 hover:border-l-4 hover:border-gray-500 sidebar-item' data-active-page-target="sidebar-item" data-path="new">
        <%= link_to new_restaurant_menu_path(@restaurant), class: "px-4 flex items-center gap-2" do %>
          <i class="fa-solid fa-plus"></i>
          Add new menu
        <% end %>
      </li>
    </ul>

  </li>

  <li data-active-page-target="sidebarItem" data-path="themes" class="sidebar-item py-2 hover:bg-gray-50 hover:text-gray-600 hover:border-l-4 hover:border-gray-500">
    <%= link_to root_path, class: "px-4 flex items-center gap-2" do %>
      <i class="fa-solid fa-palette"></i>
      <span>themes</span>
    <% end %>
  </li>



  <li data-active-page-target="sidebarItem" data-path="settings" class="sidebar-item py-2 hover:bg-gray-50 hover:text-gray-600 hover:border-l-4 hover:border-gray-500">
    <%= link_to settings_restaurant_path(@restaurant), class: "px-4 flex items-center gap-2" do %>
      <i class="fa-solid fa-gear"></i>
      <span>settings</span>
    <% end %>
  </li>

  <li class="sidebar-item py-2 hover:bg-red-50 hover:text-red-600 hover:border-l-4 hover:border-red-500 absolute bottom-10 w-full">
    <%= button_to destroy_user_session_path, method: :delete, class: "px-4 flex items-center gap-2" do %>
      <i class="fa-solid fa-door-open"></i>
      <span class='capitalize'>logout</span>
    <% end %>
  </li>
</ul>