<!DOCTYPE html>
<html>
  <head>
    <title>foodmenu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Simplifying menu management for restaurants and cafes" />
    <meta name="keywords" content="pharmacy, medicine, drugs, health, wellness, prescription, OTC, Nairobi, Kenya, foodmenu">
    <meta name="author" content="foodmenu">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="google" content="notranslate">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta property="og:title" content="foodmenu">
    <meta property="og:description" content="Simplifying menu management for restaurants and cafes">
    <meta property="og:url" content="https://www.foodmenu.lol">
    <meta property="og:image" content="https://res.cloudinary.com/dlahz5ciz/image/upload/v1710832081/foodmenu_b0mia0.png">
    <meta property="og:type" content="website">
    <meta name="language" content="English"></meta>
    <meta name="revisit-after" content="7 days"></meta>
    <meta name="distribution" content="global"></meta>
    <meta name="rating" content="general"></meta>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@foodmenu">
    <meta name="twitter:creator" content="@foodmenu">
    <meta name="twitter:title" content="foodmenu">
    <meta name="twitter:description" content="Simplifying menu management for restaurants and cafes">
    <meta name="twitter:image" content="https://res.cloudinary.com/dlahz5ciz/image/upload/v1710832081/foodmenu_b0mia0.png">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/bfa19ffe9b.js" crossorigin="anonymous"></script>
  </head>

  <% skip_navbar = params[:controller] == 'restaurants' && params[:action] == 'show'  || params[:controller] == 'layouts' && params[:action] == 'show' %>

  <body class="bg-gray-50">
   <% unless skip_navbar %>
      <%= user_signed_in? ? render('layouts/sidebar') : render('layouts/navbar') %>
    <% end %>
    <main class="<%= user_signed_in? && !skip_navbar ? 'relative lg:pl-56 pt-4 ' : 'sm:pt-16 pt-4' %>">
      <% unless flash.empty? %>
        <div id="flash" class="text-white sm:pl-20 absolute top-0 right-0 z-50 w-[50%]shadow-lg rounded">
          <% flash.keys.each do |k| %>
            <div class="sm:px-20 px-8 py-9 flex justify-center items-center gap-4 border-l-8 text-sm relative <%= notification_class(k) %>">
              <div id="progress-bar" class="h-1 absolute top-0 left-0 <%= progress_bar_background(k) %>">
              </div>
              <i class="<%= notification_icon(k) %> text-xl"></i>
              <%= flash[k] %>
              <div class="cursor-pointer" onclick="document.getElementById('flash').classList.add('hidden')">
                <i class="fa-solid fa-square-xmark text-xl"></i>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      <%= yield %>
    </main>

    <script>
      document.addEventListener('turbo:load', () => {
        const flash = document.getElementById('flash');
        const progressBar = document.getElementById('progress-bar');
        let progress = 100;
        let intervalId;

        if (flash) {
          intervalId = setInterval(() => {
            progress -= 1;
            progressBar.style.width = `${progress}%`;

            if (progress <= 0) {
              clearInterval(intervalId);
              flash.classList.add('hidden');
            }
          }, 50);
        }
      });

      function closeFlash() {
        const flash = document.getElementById('flash');
        if (flash) {
          clearInterval(intervalId);
          flash.classList.add('hidden');
        }
      }
    </script>
  </body>
</html>