
<nav class="p-4">
    <div class="container mx-auto flex justify-between items-center">
        <div>
        </div>

        <div class="flex items-center space-x-2">
         <% if @restaurant.logo.attached? %>
            <%= image_tag(@restaurant.logo, alt: "Restaurant Logo", class: "rounded-full w-8 h-8 object-cover") %>
        <% else %>
            <div class='w-8 h-8 bg-gray-200 rounded-full'></div>
        <% end %>
         <span class="font-semibold uppercase">
            <%=link_to @restaurant.name, restaurant_show_path %>
         </span>
        </div>

        <ul></ul>

        <div>
            <button class="focus:outline-none" onclick="document.getElementById('mobile-menu').classList.toggle('hidden'); document.getElementById('menu-closed').classList.toggle('hidden'); document.getElementById('menu-open').classList.toggle('hidden')">
                <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" id="menu-closed">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>
        </div>
    </div>
</nav>

<div class="flex flex-col items-center fixed inset-0 left-3/4  bg-gray-100/90 rounded-md font-normal text-sm z-10 hidden capitalize" id='mobile-menu'>
    <svg class="h-4 w-4 hidden cursor-pointer absolute right-4 top-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" id="menu-open" onclick="document.getElementById('mobile-menu').classList.toggle('hidden'); document.getElementById('menu-closed').classList.toggle('hidden'); document.getElementById('menu-open').classList.toggle('hidden')">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
    </svg>
    <ul class="flex flex-col space-y-4 mt-20">
        <li><a href="#" class="hover:underline">Home</a></li>
        <% @restaurant.menus.each do |menu| %>
            <li data-controller="dropdown" class='relative'>
                <button data-action="click->dropdown#toggle" class="flex items-center gap-1 hover:underline">
                    <p class='flex items-center gap-2 capitalize'>
                    <span class><%= menu.menu_name %></span>
                    </p>
                    <i class="fa-solid fa-caret-down"></i>
                </button>

                <ul data-dropdown-target="menu" class="hidden rounded-md mt-3 flex flex-col gap-3 absolute -right-16 top-4 bg-gray-200 py-2 bg-gray-200 glass border z-10 w-56">
                    <% menu.menu_categories.each_with_index do |category, index| %>
                    <li class='text-center capitalize hover:bg-gray-900/90 hover:text-white px-2 py-1'>
                     <%= link_to category.name, restaurant_show_path(category: category.slug) %>
                    </li>
                    <% end %>
                </ul>
            </li>
        <% end %>
    </ul>
</div>

<%= render 'layouts/smart/header' %>